@model App.Web.Models.ApplicationUser
@{
    ViewData["Title"] = "Delete";
}
<div class="row pb-2">
    <h2>Delete Employee</h2>
</div>
<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="FullName"></label>
        <input type="text" class="form-control" asp-for="FullName" disabled>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email"></label>
        <input type="text" class="form-control" asp-for="Email" disabled>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="isDeleteAll" name="isDeleteAll" value="true" />
        <label class="form-check-label" for="isDeleteAll">Delete All Ideas, Comments, and Reactions of user.</label>
    </div>

    <button type="submit" class="btn btn-danger p-2">Delete</button>
    <a asp-controller="Account" asp-action="Index" class="btn btn-success p-2">Back To List</a>
</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}