@{
    ViewData["Title"] = "Privacy Policy";
    var category = new Category();
    category.DueDate = DateTime.UtcNow;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>
<button type="button" class="btn btn-primary" id="liveToastBtn1">Show live toast</button>

@{
    
}
<p class="text-success">@DateTime.UtcNow</p>
<p class="text-success">@category.DueDateByUserTz | @category.DueDate</p>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
            @*<img src="..." class="rounded me-2" alt="...">*@
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message. 0
        </div>
    </div>

    <div id="liveToast1" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
            @*<img src="..." class="rounded me-2" alt="...">*@
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message. 1
        </div>
    </div>
</div>


@section Scripts{
<script src="~/lib/signalr/dist/browser/signalr.js"></script>

<script type="text/javascript">

    var connection = new signalR.HubConnectionBuilder().withUrl("/ideaReactHub").build();

    connection.start().then(function (){
        //// enable buttons after the connection is started.
        console.log("connection is started");
        //document.getElementById("thumbupbtn").disabled = false;
        //document.getElementById("thumbdownbtn").disabled = false;
    });

    //connection.invoke("RemoveReact", 0);

</script>

<script>
    var toastTrigger = document.getElementById('liveToastBtn')
    var toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
      toastTrigger.addEventListener('click', function () {
        var toast = new bootstrap.Toast(toastLiveExample)

        toast.show()
      })
    }

    var toastTrigger1 = document.getElementById('liveToastBtn1')
    var toastLiveExample1 = document.getElementById('liveToast1')
    if (toastTrigger1) {
      toastTrigger1.addEventListener('click', function () {
        var toast = new bootstrap.Toast(toastLiveExample1)

        toast.show()
      })
    }
</script>
}