@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-3 col-md-4 bg-dark">
        @await RenderSectionAsync("Aside", required: true)
    </div>

    <div class="col-lg-9 col-md-8">
        @RenderBody()
    </div>
</div>

@section Scripts{
@await RenderSectionAsync("Scripts", required: false)
}