
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-area="Admin" asp-controller="Account" asp-action="Create">Create account</a>
<a asp-area="Admin" asp-controller="Account" asp-action="ResetPwd">Reset Password</a>

