html {
    font-size: 14px;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    width: auto;
    height: auto;
    background-color: #D3D3D3;
    margin: auto;
}

.body-background {
    height: auto;
    width: auto;
    background-size: cover;
    min-height: 80vh;
}

.form-input {
    width: 700px;
}

.form-login {
    display: block;
    width: 500px;
    height: 100px;
    margin: auto;
}

.form-floating {
    margin-bottom: 1rem;
}

.form-control {
    border-radius: 10px
}

    .form-control:focus {
        box-shadow: none
    }

.btn-signup {
    height: 50px;
    border-radius: 10px
}

.mw-420 {
    display: none;
}

.descr {
    max-width: 300px;
}

@media only screen and (max-width : 420px) {
    .dpm, .descr {
        display: none;
    }

    .mw {
        display: none;
    }

    .mw-420 {
        display: block;
    }
}
