html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../css/Images/Colorful.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}